body {
  margin: 10em;
  font-family: 'Lato', sans-serif;
  background: #eee;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

#ext_version {
  background-image: radial-gradient(farthest-corner at 5px 5px, yellow 20%, orange 100%);
  border: 0;
  border: 3px solid rgb(15, 15, 73);
  border-radius: 10px;
  color: rgb(15, 15, 73);
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: bold;
  height: 20px; width: auto;
  position: absolute; top: 10px; left: 10px;
  text-decoration: none;
  opacity: 0.6;
}
#ext_version:hover {
  opacity: 1;  
}

/* STYLES THE TIMELINE */
.timeline {
  background: rgb(15, 15, 73);
  border-radius: 8px;
  display: block;
  height: 1.2em;
  padding: .1em;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 3px 3px 14px 3px rgba(102,96,102,1);
  -moz-box-shadow: 3px 3px 14px 3px rgba(102,96,102,1);
  -ms-box-shadow: 3px 3px 14px 3px rgba(102,96,102,1);
  box-shadow: 3px 3px 14px 3px rgba(102,96,102,1);
}
.timeline .line {
  background: transparent;  
  display: block;
  list-style-type: none;
  margin: 0.1em;  
  padding: 0;  
  height: 1em;
  border-radius: 6px;
  width: auto;
  position: relative;
}
.timeline .line .events {
  position: relative;
  top: -0.77em;
  margin: 0 0.5em;
}
.timeline .line .events .event,
.timeline .line .events .past-event {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  margin: 0 0 0 -0.5em;
}
.timeline .line .events .event .circle,
.timeline .line .events .past-event .circle {
  position: relative;
  border: 4px solid #fff;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(102,96,102,1);
  -moz-box-shadow: 0px 0px 12px 2px rgba(102,96,102,1);
  -ms-box-shadow: 0px 0px 12px 2px rgba(102,96,102,1);
  box-shadow: 0px 0px 12px 2px rgba(102,96,102,1);
}
.timeline .line .events .event .circle .circle-inner,
.timeline .line .events .past-event .circle .circle-inner {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.timeline .line .events .event .milestone-circle {
  cursor: pointer;
  position: relative;
  width: 1em;
  height: 2em;
  border-radius: 50%;
}
.timeline .line .events .event .milestone-label {
  display: none;
  width: 160px;
  color: rgb(15, 15, 73);
  font-size: 16px;
  border: 2px solid rgb(15, 15, 73);
  text-align: center;
  position: absolute;
  margin-left: -85px;
  left: 50%;
  top: 300%;
  padding: 6px 5px 3px 5px;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(102,96,102,1);
  -moz-box-shadow: 0px 0px 13px 2px rgba(102,96,102,1);
  -ms-box-shadow: 0px 0px 13px 2px rgba(102,96,102,1);
  box-shadow: 0px 0px 13px 2px rgba(102,96,102,1);
}
.timeline .line .events .event:hover .milestone-label {
  display: block;
  z-index: 1000;
}
.timeline .line .events .event .milestone-label::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent rgb(15, 15, 73) transparent;
}

/* EDITS ICONS */
.timeline .line .events .event .circle .circle-inner i,
.timeline .line .events .past-event .circle .circle-inner i {
  color: rgb(255, 255, 255);
  display:inline-block;
  font-size: 20px;
  line-height: 30px;
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
}
.timeline .line .events .past-event .circle .circle-inner i {
  color: rgb(15, 15, 73);
}
.timeline .line .events .event .label,
.timeline .line .events .past-event .label {
  display: none;
  width: 160px;
  font-size: 16px;
  border: 2px solid rgb(15, 15, 73);
  background: #fff;
  text-align: center;
  position: absolute;
  margin-left: -85px;
  left: 50%;
  bottom: 150%;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(102,96,102,1);
  -moz-box-shadow: 0px 0px 13px 2px rgba(102,96,102,1);
  -ms-box-shadow: 0px 0px 13px 2px rgba(102,96,102,1);
  box-shadow: 0px 0px 13px 2px rgba(102,96,102,1);
}
.timeline .line .events .event .label::after,
.timeline .line .events .past-event .label::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: rgb(15, 15, 73) transparent transparent transparent;
}

.timeline .line .events .event .label data,
.timeline .line .events .past-event .label data {
  border-bottom: 2px solid rgb(15, 15, 73);
  padding: 8px 5px 5px 5px;
  display: block;
  color: #000;
  font-weight: bold;
}

.timeline .line .events .event .label label,
.timeline .line .events .past-event .label label {
  display: block;
  font-size: 15px;
  margin: 10px 5px 7px 5px;
  color: #666;
  text-transform: uppercase;
}
.timeline .line .events .event:hover .circle,
.timeline .line .events .past-event:hover .circle {
  cursor: pointer;
  z-index: 1010;
}

.timeline .line .events .event:hover .circle .circle-inner {
  background-image: radial-gradient(farthest-corner at 0px 0px, #78cdad 10%, #134933 100%);
}
.timeline .line .events .past-event:hover .circle .circle-inner {
  background-image: radial-gradient(orange 0%, yellow 100%);
}
.timeline .line .events .event:hover .label,
.timeline .line .events .past-event:hover .label {
  display: block;
  z-index: 1000;
}
.timeline .line {
  border-color:rgb(15, 15, 73);
}
.timeline .line .events .event .circle,
.timeline .line .events .past-event .circle {
  background:  rgb(15, 15, 73);
  border-color: rgb(15, 15, 73); 
}
.timeline .line .events .event .circle .circle-inner {
  background:  rgb(15, 15, 73);
}
.timeline .line .events .past-event .circle .circle-inner {
  background-image: radial-gradient(farthest-corner at 5px 5px, yellow 20%, orange 100%);
}
.timeline .line .events .event .label {
  border-color:rgb(15, 15, 73);
}




